$breakpoint-xs: 0;
$breakpoint-sm: 544px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$background-color: #222;
$secondary-background-color: #375a7f;
$font-color: white;

/* form */
$placeholder-color: #999;