@import "variables";
@import "mixins";
@import "fontface";

html, body{
	font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: $font-color;
	background-color: $background-color;
	height: 100%;
	margin: 0;
	padding: 0;
}

button{
	cursor: pointer;
}

hr{
	background-color: $font-color;
}

.navbar{
	background-color: $secondary-background-color;
	margin-bottom: 2rem;

	.navbar-brand {
		text-align: center;
		font-size: 2rem;
	}
}

.input-group{
	margin-bottom: 1rem;

	.input-group-addon{
		color: $font-color;
		background-color: lighten($background-color, 15%);
	}
	.form-control{
		height: 45px;
		border: none;

		@include placeholder {
			color: $placeholder-color;
		}
	}
}

.btn-primary{
	background-color: $secondary-background-color;
	color: $font-color;
	border: none;

	&:hover{
		background-color: darken($secondary-background-color, 15%);
	}
}

.btn-lg{
	padding: 1rem 1.75rem;
}

#map-col {
    height: 500px;

	#map {
		height: 100%;
		color: black;
	}
}

#directions-col {
    margin-top: 30px;
    height: 500px;
	overflow: scroll;

	#directions {
	    margin-top: -10px;
	}
}

@media(min-width: $breakpoint-md) {
    #destination-col {
        margin-top: 0px;
    }

    #directions-col {
        margin-top: 0px;
    }
	#restaurants-col {
		overflow: auto;
	}
}

.address, .title {
    color: black;
}

.adp {
    background-color: white;
}

.card-title {
  color: white;
}

.card-text {
  color: black;
}

.card-header {
  background-color: $background-color;
  text-align: center;
}

.card {
  border: 2px solid $secondary-background-color;
  background-color: $secondary-background-color;
  margin-bottom: 10px;
}

#weather-col, #restaurants-col, #gas-stations-col, #emergency-col {
  margin-top: 30px;
  overflow: scroll;
}