#input-row {
	margin-top: 40px;
	margin-bottom: 40px;
}
#input-col {
	text-align: center;
}
#go-btn {
	min-width: 150px;
}
#submit-col {
    margin-top: 30px;
}
.row {
	margin-top: 10px;
	margin-bottom: 10px;
}
#map-col {
    height: 500px;
}

@media(min-width: 768px) {
    #submit-col {
	margin-top: 0px;
    }
}



/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}