#input-row {
	margin-bottom: 40px;
}

.navbar {
    min-height:100px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    min-height: 150px;
    /*height: 100%;*/
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
    text-align: center;
    font-size: 2em;
}

#input-col {
	text-align: center;
}

#go-btn {
	min-width: 100%;
}

#submit-col, #destination-col {
    margin-top: 20px;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

#map-col {
    height: 500px;
}

#directions {
    margin-top: -10px;
}

#directions-col {
    margin-top: 30px;
}


@media(min-width: 992px) {
    #destination-col {
        margin-top: 0px;
    }

    #directions-col {
        height: 500px;
        overflow: scroll;
        margin-top: 0px;
    }
}


#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.address, .title {
    color: black;
}

.adp {
    background-color: white;
}